In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('model-selection-11-15.csv', index_col = 0)

/Users/bigyanbhandari/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (22) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 402029 entries, 0 to 402028
Data columns (total 24 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   SCHOOL                           402017 non-null  object
 1   STATE                            402001 non-null  object
 2   ID                               402001 non-null  float64
 3   ABBR                             402001 non-null  object
 4   COUNTY                           402001 non-null  object
 5   CHARTER                          402001 non-null  object
 6   MAGNET                           402001 non-null  object
 7   LOCALE                           402001 non-null  object
 8   TITLE I                          402001 non-null  object
 9   TITLE I ELIGIBLE                 402001 non-null  object
 10  TOTAL STUDENTS                   402001 non-null  object
 11  FREE LUNCH ELIGIBLE              402001 non-null  object
 12  REDUCED PRICE LUNCH ELIGIBLE     402001 non-null  object
 13  FREE AND REDUCED LUNCH ELIGIBLE  402001 non-null  object
 14  MALE STUDENTS                    402001 non-null  object
 15  FEMALE STUDENTS                  402001 non-null  object
 16  AMERICAN INDIAN                  402001 non-null  object
 17  ASIAN                            402001 non-null  object
 18  HISPANIC                         402001 non-null  object
 19  BLACK                            402001 non-null  object
 20  WHITE                            402001 non-null  object
 21  TOTAL RACE/ETHINICITY            402001 non-null  object
 22  FTE TEACHERS                     402001 non-null  object
 23  PUPIL-TEACHER RATIO              402001 non-null  object
dtypes: float64(1), object(23)
memory usage: 76.7+ MB

In [4]:
df['FREE LUNCH ELIGIBLE'].isna().sum()

28

In [5]:
df['FREE LUNCH ELIGIBLE NUMERIC'] = df['FREE LUNCH ELIGIBLE'].apply( lambda x : int(x) if str(x).isdigit() else None)

In [6]:
df.drop(df[df['FREE LUNCH ELIGIBLE NUMERIC'].isna() == True].index, inplace = True)

In [7]:
df.shape

(370921, 25)

In [8]:
df['REDUCED PRICE LUNCH ELIGIBLE NUMERIC'] = df['REDUCED PRICE LUNCH ELIGIBLE'].apply( lambda x : int(x) if str(x).isdigit() else None)

In [9]:
df['REDUCED PRICE LUNCH ELIGIBLE NUMERIC'].isna().sum()

843

In [10]:
df.drop(df[df['REDUCED PRICE LUNCH ELIGIBLE NUMERIC'].isna() == True].index, inplace = True)

In [11]:
df['FREE AND REDUCED LUNCH ELIGIBLE'].isna().sum()

0

In [12]:
df.shape

(370078, 26)

In [13]:
def replace_nan_zero(x):
    if str(x).isdigit():
        return x
    else:
        return 0

In [14]:
df['AMERICAN INDIAN'] = df['AMERICAN INDIAN'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['ASIAN'] = df['ASIAN'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['HISPANIC'] = df['HISPANIC'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['BLACK'] = df['BLACK'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['WHITE'] = df['WHITE'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['TOTAL RACE/ETHINICITY'] = df['TOTAL RACE/ETHINICITY'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['FTE TEACHERS'] = df['FTE TEACHERS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['MALE STUDENTS'] = df['MALE STUDENTS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['FEMALE STUDENTS'] = df['FEMALE STUDENTS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['PUPIL-TEACHER RATIO'] = df['PUPIL-TEACHER RATIO'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['TOTAL STUDENTS'] = df['TOTAL STUDENTS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370078 entries, 0 to 402021
Data columns (total 26 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   SCHOOL                                370078 non-null  object
 1   STATE                                 370078 non-null  object
 2   ID                                    370078 non-null  float64
 3   ABBR                                  370078 non-null  object
 4   COUNTY                                370078 non-null  object
 5   CHARTER                               370078 non-null  object
 6   MAGNET                                370078 non-null  object
 7   LOCALE                                370078 non-null  object
 8   TITLE I                               370078 non-null  object
 9   TITLE I ELIGIBLE                      370078 non-null  object
 10  TOTAL STUDENTS                        370078 non-null  int64
 11  FREE LUNCH ELIGIBLE                   370078 non-null  object
 12  REDUCED PRICE LUNCH ELIGIBLE          370078 non-null  object
 13  FREE AND REDUCED LUNCH ELIGIBLE       370078 non-null  object
 14  MALE STUDENTS                         370078 non-null  int64
 15  FEMALE STUDENTS                       370078 non-null  int64
 16  AMERICAN INDIAN                       370078 non-null  int64
 17  ASIAN                                 370078 non-null  int64
 18  HISPANIC                              370078 non-null  int64
 19  BLACK                                 370078 non-null  int64
 20  WHITE                                 370078 non-null  int64
 21  TOTAL RACE/ETHINICITY                 370078 non-null  int64
 22  FTE TEACHERS                          370078 non-null  int64
 23  PUPIL-TEACHER RATIO                   370078 non-null  int64
 24  FREE LUNCH ELIGIBLE NUMERIC           370078 non-null  float64
 25  REDUCED PRICE LUNCH ELIGIBLE NUMERIC  370078 non-null  float64
dtypes: float64(3), int64(11), object(12)
memory usage: 76.2+ MB

In [16]:
df.drop(columns = ['FREE LUNCH ELIGIBLE NUMERIC', 'REDUCED PRICE LUNCH ELIGIBLE NUMERIC'], inplace = True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370078 entries, 0 to 402021
Data columns (total 24 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   SCHOOL                           370078 non-null  object
 1   STATE                            370078 non-null  object
 2   ID                               370078 non-null  float64
 3   ABBR                             370078 non-null  object
 4   COUNTY                           370078 non-null  object
 5   CHARTER                          370078 non-null  object
 6   MAGNET                           370078 non-null  object
 7   LOCALE                           370078 non-null  object
 8   TITLE I                          370078 non-null  object
 9   TITLE I ELIGIBLE                 370078 non-null  object
 10  TOTAL STUDENTS                   370078 non-null  int64
 11  FREE LUNCH ELIGIBLE              370078 non-null  object
 12  REDUCED PRICE LUNCH ELIGIBLE     370078 non-null  object
 13  FREE AND REDUCED LUNCH ELIGIBLE  370078 non-null  object
 14  MALE STUDENTS                    370078 non-null  int64
 15  FEMALE STUDENTS                  370078 non-null  int64
 16  AMERICAN INDIAN                  370078 non-null  int64
 17  ASIAN                            370078 non-null  int64
 18  HISPANIC                         370078 non-null  int64
 19  BLACK                            370078 non-null  int64
 20  WHITE                            370078 non-null  int64
 21  TOTAL RACE/ETHINICITY            370078 non-null  int64
 22  FTE TEACHERS                     370078 non-null  int64
 23  PUPIL-TEACHER RATIO              370078 non-null  int64
dtypes: float64(1), int64(11), object(12)
memory usage: 70.6+ MB

In [19]:
#df.to_csv('model-selection-clean-11-15.csv')