In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('1998-99.csv')

In [3]:
df1.columns

Index(['School Name', 'State Name [Public School] Latest available year',
       'State Abbr [Public School] Latest available year',
       'School ID - NCES Assigned [Public School] Latest available year',
       'County Name [Public School] 1998-99',
       'Charter School [Public School] 1998-99',
       'Magnet School [Public School] 1998-99',
       'Locale [Public School] 1998-99',
       'School-wide Title I [Public School] 1998-99',
       'Title I Eligible School [Public School] 1998-99',
       'Total Students All Grades (Excludes AE) [Public School] 1998-99',
       'Free Lunch Eligible [Public School] 1998-99',
       'Reduced-price Lunch Eligible Students [Public School] 1998-99',
       'Free and Reduced Lunch Students [Public School] 1998-99',
       'Male Students [Public School] 1998-99',
       'Female Students [Public School] 1998-99',
       'American Indian/Alaska Native Students [Public School] 1998-99',
       'Asian or Asian/Pacific Islander Students [Public School] 1998-99',
       'Hispanic Students [Public School] 1998-99',
       'Black or African American Students [Public School] 1998-99',
       'White Students [Public School] 1998-99',
       'Total Race/Ethnicity [Public School] 1998-99',
       'Full-Time Equivalent (FTE) Teachers [Public School] 1998-99',
       'Pupil/Teacher Ratio [Public School] 1998-99'],
      dtype='object')

In [4]:
df1.shape

(90881, 24)

In [5]:
df2 = pd.read_csv('1999-00.csv')

In [6]:
df2.columns

Index(['School Name', 'State Name [Public School] Latest available year',
       'State Abbr [Public School] Latest available year',
       'School ID - NCES Assigned [Public School] Latest available year',
       'County Name [Public School] 1999-00',
       'Charter School [Public School] 1999-00',
       'Magnet School [Public School] 1999-00',
       'Locale [Public School] 1999-00',
       'School-wide Title I [Public School] 1999-00',
       'Title I Eligible School [Public School] 1999-00',
       'Total Students All Grades (Excludes AE) [Public School] 1999-00',
       'Free Lunch Eligible [Public School] 1999-00',
       'Reduced-price Lunch Eligible Students [Public School] 1999-00',
       'Free and Reduced Lunch Students [Public School] 1999-00',
       'Male Students [Public School] 1999-00',
       'Female Students [Public School] 1999-00',
       'American Indian/Alaska Native Students [Public School] 1999-00',
       'Asian or Asian/Pacific Islander Students [Public School] 1999-00',
       'Hispanic Students [Public School] 1999-00',
       'Black or African American Students [Public School] 1999-00',
       'White Students [Public School] 1999-00',
       'Total Race/Ethnicity [Public School] 1999-00',
       'Full-Time Equivalent (FTE) Teachers [Public School] 1999-00',
       'Pupil/Teacher Ratio [Public School] 1999-00'],
      dtype='object')

In [7]:
df2.shape

(92019, 24)

In [8]:
df3 = pd.read_csv('2000-01.csv')

In [9]:
df3.shape

(93280, 24)

In [10]:
df1 = df1.rename(columns = {
    'School Name' : 'SCHOOL', 
    'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 1998-99' : 'COUNTY',
       'Charter School [Public School] 1998-99' : 'CHARTER',
       'Magnet School [Public School] 1998-99' : 'MAGNET',
       'Locale [Public School] 1998-99' : 'LOCALE',
       'School-wide Title I [Public School] 1998-99' : 'TITLE I',
       'Title I Eligible School [Public School] 1998-99' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 1998-99' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 1998-99' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 1998-99' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 1998-99' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 1998-99' : 'MALE STUDENTS',
       'Female Students [Public School] 1998-99' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 1998-99' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 1998-99' : 'ASIAN',
       'Hispanic Students [Public School] 1998-99' : 'HISPANIC',
       'Black or African American Students [Public School] 1998-99' : 'BLACK',
       'White Students [Public School] 1998-99' : 'WHITE',
       'Total Race/Ethnicity [Public School] 1998-99' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 1998-99' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 1998-99' : 'PUPIL-TEACHER RATIO'
})

In [11]:
df2 = df1.rename(columns = {
    'School Name' : 'SCHOOL', 
    'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 1999-00' : 'COUNTY',
       'Charter School [Public School] 1999-00' : 'CHARTER',
       'Magnet School [Public School] 1999-00' : 'MAGNET',
       'Locale [Public School] 1999-00' : 'LOCALE',
       'School-wide Title I [Public School] 1999-00' : 'TITLE I',
       'Title I Eligible School [Public School] 1999-00' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 1999-00' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 1999-00' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 1999-00' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 1999-00' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 1999-00' : 'MALE STUDENTS',
       'Female Students [Public School] 1999-00' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 1999-00' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 1999-00' : 'ASIAN',
       'Hispanic Students [Public School] 1999-00' : 'HISPANIC',
       'Black or African American Students [Public School] 1999-00' : 'BLACK',
       'White Students [Public School] 1999-00' : 'WHITE',
       'Total Race/Ethnicity [Public School] 1999-00' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 1999-00' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 1999-00' : 'PUPIL-TEACHER RATIO'
})

In [12]:
df2.columns

Index(['SCHOOL', 'STATE', 'ABBR', 'ID', 'COUNTY', 'CHARTER', 'MAGNET',
       'LOCALE', 'TITLE I', 'TITLE I ELIGIBLE', 'TOTAL STUDENTS',
       'FREE LUNCH ELIGIBLE', 'REDUCED PRICE LUNCH ELIGIBLE',
       'FREE AND REDUCED LUNCH ELIGIBLE', 'MALE STUDENTS', 'FEMALE STUDENTS',
       'AMERICAN INDIAN', 'ASIAN', 'HISPANIC', 'BLACK', 'WHITE',
       'TOTAL RACE/ETHINICITY', 'FTE TEACHERS', 'PUPIL-TEACHER RATIO'],
      dtype='object')

In [13]:
df3 = pd.read_csv('2000-01.csv')

In [14]:
df3.columns

Index(['School Name', 'State Name [Public School] Latest available year',
       'School ID - NCES Assigned [Public School] Latest available year',
       'State Abbr [Public School] Latest available year',
       'County Name [Public School] 2000-01',
       'Charter School [Public School] 2000-01',
       'Magnet School [Public School] 2000-01',
       'Locale [Public School] 2000-01',
       'School-wide Title I [Public School] 2000-01',
       'Title I Eligible School [Public School] 2000-01',
       'Total Students All Grades (Excludes AE) [Public School] 2000-01',
       'Free Lunch Eligible [Public School] 2000-01',
       'Reduced-price Lunch Eligible Students [Public School] 2000-01',
       'Free and Reduced Lunch Students [Public School] 2000-01',
       'Male Students [Public School] 2000-01',
       'Female Students [Public School] 2000-01',
       'American Indian/Alaska Native Students [Public School] 2000-01',
       'Asian or Asian/Pacific Islander Students [Public School] 2000-01',
       'Hispanic Students [Public School] 2000-01',
       'Black or African American Students [Public School] 2000-01',
       'White Students [Public School] 2000-01',
       'Total Race/Ethnicity [Public School] 2000-01',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2000-01',
       'Pupil/Teacher Ratio [Public School] 2000-01'],
      dtype='object')

In [15]:
df3 = df3.rename(columns = {
    'School Name' : 'SCHOOL', 
    'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 2000-01' : 'COUNTY',
       'Charter School [Public School] 2000-01' : 'CHARTER',
       'Magnet School [Public School] 2000-01' : 'MAGNET',
       'Locale [Public School] 2000-01' : 'LOCALE',
       'School-wide Title I [Public School] 2000-01' : 'TITLE I',
       'Title I Eligible School [Public School] 2000-01' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 2000-01' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 2000-01' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 2000-01' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 2000-01' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 2000-01' : 'MALE STUDENTS',
       'Female Students [Public School] 2000-01' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 2000-01' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 2000-01' : 'ASIAN',
       'Hispanic Students [Public School] 2000-01' : 'HISPANIC',
       'Black or African American Students [Public School] 2000-01' : 'BLACK',
       'White Students [Public School] 2000-01' : 'WHITE',
       'Total Race/Ethnicity [Public School] 2000-01' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2000-01' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 2000-01' : 'PUPIL-TEACHER RATIO'
})

In [16]:
df3.columns

Index(['SCHOOL', 'STATE', 'ID', 'ABBR', 'COUNTY', 'CHARTER', 'MAGNET',
       'LOCALE', 'TITLE I', 'TITLE I ELIGIBLE', 'TOTAL STUDENTS',
       'FREE LUNCH ELIGIBLE', 'REDUCED PRICE LUNCH ELIGIBLE',
       'FREE AND REDUCED LUNCH ELIGIBLE', 'MALE STUDENTS', 'FEMALE STUDENTS',
       'AMERICAN INDIAN', 'ASIAN', 'HISPANIC', 'BLACK', 'WHITE',
       'TOTAL RACE/ETHINICITY', 'FTE TEACHERS', 'PUPIL-TEACHER RATIO'],
      dtype='object')

In [17]:
df = pd.concat([df1, df2, df3], ignore_index = True)

In [18]:
df.shape

(275042, 24)

In [19]:
##df.to_csv('model-selection-98-01.csv')