In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('2011-12.csv')

In [3]:
df1.shape

(99330, 28)

In [4]:
df2 = pd.read_csv('2012-13.csv')

In [5]:
df2.shape

(100926, 28)

In [6]:
df3 = pd.read_csv('2013-14.csv')

In [7]:
df3.shape

(100865, 29)

In [8]:
df4 = pd.read_csv('2014-15.csv')

In [9]:
df4.shape

(100908, 29)

In [10]:
df1.columns

Index(['School Name', 'State Name [Public School] Latest available year',
       'School ID - NCES Assigned [Public School] Latest available year',
       'State Abbr [Public School] Latest available year',
       'County Name [Public School] 2011-12',
       'Charter School [Public School] 2011-12',
       'Magnet School [Public School] 2011-12',
       'Shared Time School [Public School] 2011-12',
       'Urban-centric Locale [Public School] 2011-12',
       'School-wide Title I [Public School] 2011-12',
       'Title I Eligible School [Public School] 2011-12',
       'Title I School Status [Public School] 2011-12',
       'Total Students All Grades (Excludes AE) [Public School] 2011-12',
       'Free Lunch Eligible [Public School] 2011-12',
       'Reduced-price Lunch Eligible Students [Public School] 2011-12',
       'Free and Reduced Lunch Students [Public School] 2011-12',
       'Male Students [Public School] 2011-12',
       'Female Students [Public School] 2011-12',
       'American Indian/Alaska Native Students [Public School] 2011-12',
       'Asian or Asian/Pacific Islander Students [Public School] 2011-12',
       'Hispanic Students [Public School] 2011-12',
       'Black or African American Students [Public School] 2011-12',
       'White Students [Public School] 2011-12',
       'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2011-12',
       'Two or More Races Students [Public School] 2011-12',
       'Total Race/Ethnicity [Public School] 2011-12',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2011-12',
       'Pupil/Teacher Ratio [Public School] 2011-12'],
      dtype='object')

In [11]:
df2.columns

Index(['School Name', 'State Name [Public School] Latest available year',
       'School ID - NCES Assigned [Public School] Latest available year',
       'State Abbr [Public School] Latest available year',
       'County Name [Public School] 2012-13',
       'Charter School [Public School] 2012-13',
       'Magnet School [Public School] 2012-13',
       'Shared Time School [Public School] 2012-13',
       'Urban-centric Locale [Public School] 2012-13',
       'School-wide Title I [Public School] 2012-13',
       'Title I Eligible School [Public School] 2012-13',
       'Title I School Status [Public School] 2012-13',
       'Total Students All Grades (Excludes AE) [Public School] 2012-13',
       'Free Lunch Eligible [Public School] 2012-13',
       'Reduced-price Lunch Eligible Students [Public School] 2012-13',
       'Free and Reduced Lunch Students [Public School] 2012-13',
       'Male Students [Public School] 2012-13',
       'Female Students [Public School] 2012-13',
       'American Indian/Alaska Native Students [Public School] 2012-13',
       'Asian or Asian/Pacific Islander Students [Public School] 2012-13',
       'Hispanic Students [Public School] 2012-13',
       'Black or African American Students [Public School] 2012-13',
       'White Students [Public School] 2012-13',
       'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2012-13',
       'Two or More Races Students [Public School] 2012-13',
       'Total Race/Ethnicity [Public School] 2012-13',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2012-13',
       'Pupil/Teacher Ratio [Public School] 2012-13'],
      dtype='object')

In [12]:
df3.columns

Index(['School Name', 'State Name [Public School] Latest available year',
       'School ID - NCES Assigned [Public School] Latest available year',
       'State Abbr [Public School] Latest available year',
       'County Name [Public School] 2013-14',
       'Charter School [Public School] 2013-14',
       'Magnet School [Public School] 2013-14',
       'Shared Time School [Public School] 2013-14',
       'Urban-centric Locale [Public School] 2013-14',
       'School-wide Title I [Public School] 2013-14',
       'Title I Eligible School [Public School] 2013-14',
       'Title I School Status [Public School] 2013-14',
       'National School Lunch Program [Public School] 2013-14',
       'Total Students All Grades (Excludes AE) [Public School] 2013-14',
       'Free Lunch Eligible [Public School] 2013-14',
       'Reduced-price Lunch Eligible Students [Public School] 2013-14',
       'Free and Reduced Lunch Students [Public School] 2013-14',
       'Male Students [Public School] 2013-14',
       'Female Students [Public School] 2013-14',
       'American Indian/Alaska Native Students [Public School] 2013-14',
       'Asian or Asian/Pacific Islander Students [Public School] 2013-14',
       'Hispanic Students [Public School] 2013-14',
       'Black or African American Students [Public School] 2013-14',
       'White Students [Public School] 2013-14',
       'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2013-14',
       'Two or More Races Students [Public School] 2013-14',
       'Total Race/Ethnicity [Public School] 2013-14',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2013-14',
       'Pupil/Teacher Ratio [Public School] 2013-14'],
      dtype='object')

In [13]:
df4.columns

Index(['School Name', 'State Name [Public School] Latest available year',
       'School ID - NCES Assigned [Public School] Latest available year',
       'State Abbr [Public School] Latest available year',
       'County Name [Public School] 2014-15',
       'Charter School [Public School] 2014-15',
       'Magnet School [Public School] 2014-15',
       'Shared Time School [Public School] 2014-15',
       'Urban-centric Locale [Public School] 2014-15',
       'School-wide Title I [Public School] 2014-15',
       'Title I Eligible School [Public School] 2014-15',
       'Title I School Status [Public School] 2014-15',
       'National School Lunch Program [Public School] 2014-15',
       'Total Students All Grades (Excludes AE) [Public School] 2014-15',
       'Free Lunch Eligible [Public School] 2014-15',
       'Reduced-price Lunch Eligible Students [Public School] 2014-15',
       'Free and Reduced Lunch Students [Public School] 2014-15',
       'Male Students [Public School] 2014-15',
       'Female Students [Public School] 2014-15',
       'American Indian/Alaska Native Students [Public School] 2014-15',
       'Asian or Asian/Pacific Islander Students [Public School] 2014-15',
       'Hispanic Students [Public School] 2014-15',
       'Black or African American Students [Public School] 2014-15',
       'White Students [Public School] 2014-15',
       'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2014-15',
       'Two or More Races Students [Public School] 2014-15',
       'Total Race/Ethnicity [Public School] 2014-15',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2014-15',
       'Pupil/Teacher Ratio [Public School] 2014-15'],
      dtype='object')

In [14]:
df1 = df1.rename( columns = {
        'School Name' : 'SCHOOL', 
        'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 2011-12' : 'COUNTY',
       'Charter School [Public School] 2011-12' : 'CHARTER',
       'Magnet School [Public School] 2011-12' : 'MAGNET',
       'Urban-centric Locale [Public School] 2011-12' : 'LOCALE',
       'School-wide Title I [Public School] 2011-12' : 'TITLE I',
       'Title I Eligible School [Public School] 2011-12' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 2011-12' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 2011-12' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 2011-12' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 2011-12' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 2011-12' : 'MALE STUDENTS',
       'Female Students [Public School] 2011-12' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 2011-12' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 2011-12' : 'ASIAN',
       'Hispanic Students [Public School] 2011-12' : 'HISPANIC',
       'Black or African American Students [Public School] 2011-12' : 'BLACK',
       'White Students [Public School] 2011-12' : 'WHITE',
       'Total Race/Ethnicity [Public School] 2011-12' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2011-12' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 2011-12' : 'PUPIL-TEACHER RATIO'
})

In [15]:
df2 = df2.rename( columns = {
       'School Name' : 'SCHOOL', 
        'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 2012-13' : 'COUNTY',
       'Charter School [Public School] 2012-13' : 'CHARTER',
       'Magnet School [Public School] 2012-13' : 'MAGNET',
       'Urban-centric Locale [Public School] 2012-13' : 'LOCALE',
       'School-wide Title I [Public School] 2012-13' : 'TITLE I',
       'Title I Eligible School [Public School] 2012-13' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 2012-13' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 2012-13' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 2012-13' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 2012-13' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 2012-13' : 'MALE STUDENTS',
       'Female Students [Public School] 2012-13' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 2012-13' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 2012-13' : 'ASIAN',
       'Hispanic Students [Public School] 2012-13' : 'HISPANIC',
       'Black or African American Students [Public School] 2012-13' : 'BLACK',
       'White Students [Public School] 2012-13' : 'WHITE',
       'Total Race/Ethnicity [Public School] 2012-13' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2012-13' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 2012-13' : 'PUPIL-TEACHER RATIO'
})

In [16]:
df2.columns

Index(['SCHOOL', 'STATE', 'ID', 'ABBR', 'COUNTY', 'CHARTER', 'MAGNET',
       'Shared Time School [Public School] 2012-13', 'LOCALE', 'TITLE I',
       'TITLE I ELIGIBLE', 'Title I School Status [Public School] 2012-13',
       'TOTAL STUDENTS', 'FREE LUNCH ELIGIBLE', 'REDUCED PRICE LUNCH ELIGIBLE',
       'FREE AND REDUCED LUNCH ELIGIBLE', 'MALE STUDENTS', 'FEMALE STUDENTS',
       'AMERICAN INDIAN', 'ASIAN', 'HISPANIC', 'BLACK', 'WHITE',
       'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2012-13',
       'Two or More Races Students [Public School] 2012-13',
       'TOTAL RACE/ETHINICITY', 'FTE TEACHERS', 'PUPIL-TEACHER RATIO'],
      dtype='object')

In [17]:
df3 = df3.rename( columns = {
        'School Name' : 'SCHOOL', 
        'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 2013-14' : 'COUNTY',
       'Charter School [Public School] 2013-14' : 'CHARTER',
       'Magnet School [Public School] 2013-14' : 'MAGNET',
       'Urban-centric Locale [Public School] 2013-14' : 'LOCALE',
       'School-wide Title I [Public School] 2013-14' : 'TITLE I',
       'Title I Eligible School [Public School] 2013-14' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 2013-14' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 2013-14' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 2013-14' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 2013-14' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 2013-14' : 'MALE STUDENTS',
       'Female Students [Public School] 2013-14' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 2013-14' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 2013-14' : 'ASIAN',
       'Hispanic Students [Public School] 2013-14' : 'HISPANIC',
       'Black or African American Students [Public School] 2013-14' : 'BLACK',
       'White Students [Public School] 2013-14' : 'WHITE',
       'Total Race/Ethnicity [Public School] 2013-14' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2013-14' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 2013-14' : 'PUPIL-TEACHER RATIO'
})

In [18]:
df3.columns

Index(['SCHOOL', 'STATE', 'ID', 'ABBR', 'COUNTY', 'CHARTER', 'MAGNET',
       'Shared Time School [Public School] 2013-14', 'LOCALE', 'TITLE I',
       'TITLE I ELIGIBLE', 'Title I School Status [Public School] 2013-14',
       'National School Lunch Program [Public School] 2013-14',
       'TOTAL STUDENTS', 'FREE LUNCH ELIGIBLE', 'REDUCED PRICE LUNCH ELIGIBLE',
       'FREE AND REDUCED LUNCH ELIGIBLE', 'MALE STUDENTS', 'FEMALE STUDENTS',
       'AMERICAN INDIAN', 'ASIAN', 'HISPANIC', 'BLACK', 'WHITE',
       'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2013-14',
       'Two or More Races Students [Public School] 2013-14',
       'TOTAL RACE/ETHINICITY', 'FTE TEACHERS', 'PUPIL-TEACHER RATIO'],
      dtype='object')

In [19]:
df3.shape

(100865, 29)

In [20]:
df4 = df4.rename( columns = {
    'School Name' : 'SCHOOL', 
        'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 2014-15' : 'COUNTY',
       'Charter School [Public School] 2014-15' : 'CHARTER',
       'Magnet School [Public School] 2014-15' : 'MAGNET',
       'Urban-centric Locale [Public School] 2014-15' : 'LOCALE',
       'School-wide Title I [Public School] 2014-15' : 'TITLE I',
       'Title I Eligible School [Public School] 2014-15' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 2014-15' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 2014-15' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 2014-15' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 2014-15' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 2014-15' : 'MALE STUDENTS',
       'Female Students [Public School] 2014-15' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 2014-15' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 2014-15' : 'ASIAN',
       'Hispanic Students [Public School] 2014-15' : 'HISPANIC',
       'Black or African American Students [Public School] 2014-15' : 'BLACK',
       'White Students [Public School] 2014-15' : 'WHITE',
       'Total Race/Ethnicity [Public School] 2014-15' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2014-15' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 2014-15' : 'PUPIL-TEACHER RATIO'
})

In [21]:
df1.columns

Index(['SCHOOL', 'STATE', 'ID', 'ABBR', 'COUNTY', 'CHARTER', 'MAGNET',
       'Shared Time School [Public School] 2011-12', 'LOCALE', 'TITLE I',
       'TITLE I ELIGIBLE', 'Title I School Status [Public School] 2011-12',
       'TOTAL STUDENTS', 'FREE LUNCH ELIGIBLE', 'REDUCED PRICE LUNCH ELIGIBLE',
       'FREE AND REDUCED LUNCH ELIGIBLE', 'MALE STUDENTS', 'FEMALE STUDENTS',
       'AMERICAN INDIAN', 'ASIAN', 'HISPANIC', 'BLACK', 'WHITE',
       'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2011-12',
       'Two or More Races Students [Public School] 2011-12',
       'TOTAL RACE/ETHINICITY', 'FTE TEACHERS', 'PUPIL-TEACHER RATIO'],
      dtype='object')

In [22]:
df2.columns

Index(['SCHOOL', 'STATE', 'ID', 'ABBR', 'COUNTY', 'CHARTER', 'MAGNET',
       'Shared Time School [Public School] 2012-13', 'LOCALE', 'TITLE I',
       'TITLE I ELIGIBLE', 'Title I School Status [Public School] 2012-13',
       'TOTAL STUDENTS', 'FREE LUNCH ELIGIBLE', 'REDUCED PRICE LUNCH ELIGIBLE',
       'FREE AND REDUCED LUNCH ELIGIBLE', 'MALE STUDENTS', 'FEMALE STUDENTS',
       'AMERICAN INDIAN', 'ASIAN', 'HISPANIC', 'BLACK', 'WHITE',
       'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2012-13',
       'Two or More Races Students [Public School] 2012-13',
       'TOTAL RACE/ETHINICITY', 'FTE TEACHERS', 'PUPIL-TEACHER RATIO'],
      dtype='object')

In [23]:
df1.drop(columns = ['Shared Time School [Public School] 2011-12',
    'Title I School Status [Public School] 2011-12',
    'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2011-12', 
                    'Two or More Races Students [Public School] 2011-12'
], inplace = True)

df2.drop(columns = ['Shared Time School [Public School] 2012-13',
    'Title I School Status [Public School] 2012-13',
    'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2012-13',  
                    'Two or More Races Students [Public School] 2012-13'
], inplace = True)

df3.drop(columns = ['Shared Time School [Public School] 2013-14',
    'Title I School Status [Public School] 2013-14',
    'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2013-14',  
                    'Two or More Races Students [Public School] 2013-14',
                    'National School Lunch Program [Public School] 2013-14'
], inplace = True)

df4.drop(columns = ['Shared Time School [Public School] 2014-15',
    'Title I School Status [Public School] 2014-15',
    'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2014-15',
                    'Two or More Races Students [Public School] 2014-15',
                    'National School Lunch Program [Public School] 2014-15'
], inplace = True)

In [24]:
df3.columns

Index(['SCHOOL', 'STATE', 'ID', 'ABBR', 'COUNTY', 'CHARTER', 'MAGNET',
       'LOCALE', 'TITLE I', 'TITLE I ELIGIBLE', 'TOTAL STUDENTS',
       'FREE LUNCH ELIGIBLE', 'REDUCED PRICE LUNCH ELIGIBLE',
       'FREE AND REDUCED LUNCH ELIGIBLE', 'MALE STUDENTS', 'FEMALE STUDENTS',
       'AMERICAN INDIAN', 'ASIAN', 'HISPANIC', 'BLACK', 'WHITE',
       'TOTAL RACE/ETHINICITY', 'FTE TEACHERS', 'PUPIL-TEACHER RATIO'],
      dtype='object')

In [25]:
df4.columns

Index(['SCHOOL', 'STATE', 'ID', 'ABBR', 'COUNTY', 'CHARTER', 'MAGNET',
       'LOCALE', 'TITLE I', 'TITLE I ELIGIBLE', 'TOTAL STUDENTS',
       'FREE LUNCH ELIGIBLE', 'REDUCED PRICE LUNCH ELIGIBLE',
       'FREE AND REDUCED LUNCH ELIGIBLE', 'MALE STUDENTS', 'FEMALE STUDENTS',
       'AMERICAN INDIAN', 'ASIAN', 'HISPANIC', 'BLACK', 'WHITE',
       'TOTAL RACE/ETHINICITY', 'FTE TEACHERS', 'PUPIL-TEACHER RATIO'],
      dtype='object')

In [26]:
pd.options.display.max_columns = None
df4.head()

,SCHOOL,STATE,ID,ABBR,COUNTY,CHARTER,MAGNET,LOCALE,TITLE I,TITLE I ELIGIBLE,TOTAL STUDENTS,FREE LUNCH ELIGIBLE,REDUCED PRICE LUNCH ELIGIBLE,FREE AND REDUCED LUNCH ELIGIBLE,MALE STUDENTS,FEMALE STUDENTS,AMERICAN INDIAN,ASIAN,HISPANIC,BLACK,WHITE,TOTAL RACE/ETHINICITY,FTE TEACHERS,PUPIL-TEACHER RATIO
0,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,2.507320e+11,MA,MIDDLESEX COUNTY,2-No,–,21-Suburb: Large,1-Yes,1-Yes,1325,627,90,717,681,644,1,31,522,29,703,1325.0,116.44,11.38
1,100 BLACK MEN OF THE BAY AREA COMMUNITY,California,6.280501e+10,CA,ALAMEDA COUNTY,1-Yes,†,11-City: Large,†,†,†,†,†,†,†,†,†,†,†,†,†,0.0,†,†
2,10TH STREET SCHOOL,Washington,5.304860e+11,WA,SNOHOMISH COUNTY,2-No,–,22-Suburb: Mid-size,†,2-No,167,20,7,27,82,85,4,3,15,0,129,167.0,7.3,22.88
3,112 ALC INDEPENDENT STUDY,Minnesota,2.708190e+11,MN,CARVER COUNTY,2-No,2-No,21-Suburb: Large,†,2-No,12,0,0,0,10,2,0,0,4,0,7,12.0,–,–
4,112 ALC MIDDLE SCHOOL,Minnesota,2.708190e+11,MN,CARVER COUNTY,2-No,2-No,21-Suburb: Large,†,2-No,159,76,15,91,79,80,2,5,46,12,86,159.0,0.86,184.88

In [27]:
df4.shape

(100908, 24)

In [28]:
#df = pd.concat([df1, df2, df3, df4], ignore_index = True)

In [29]:
df1.shape

(99330, 24)

In [30]:
df2.shape

(100926, 24)

In [31]:
df3.shape

(100865, 24)

In [32]:
df = pd.concat([df1, df2, df3, df4], ignore_index = True)

In [33]:
df.shape

(402029, 24)

In [34]:
df.to_csv('modeling-11-15.csv')