In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('2007-08.csv')

In [3]:
df1.shape

(99542, 25)

In [4]:
df2 = pd.read_csv('2008-09.csv')

In [5]:
df2.shape

(99797, 27)

In [6]:
df3 = pd.read_csv('2009-10.csv')

In [7]:
df3.shape

(99822, 27)

In [8]:
df4 = pd.read_csv('2010-11.csv')

In [9]:
df4.shape

(99767, 28)

In [10]:
df1.columns

Index(['School Name', 'State Name [Public School] Latest available year',
       'School ID - NCES Assigned [Public School] Latest available year',
       'State Abbr [Public School] Latest available year',
       'County Name [Public School] 2007-08',
       'Charter School [Public School] 2007-08',
       'Magnet School [Public School] 2007-08',
       'Shared Time School [Public School] 2007-08',
       'Urban-centric Locale [Public School] 2007-08',
       'School-wide Title I [Public School] 2007-08',
       'Title I Eligible School [Public School] 2007-08',
       'Total Students All Grades (Excludes AE) [Public School] 2007-08',
       'Free Lunch Eligible [Public School] 2007-08',
       'Reduced-price Lunch Eligible Students [Public School] 2007-08',
       'Free and Reduced Lunch Students [Public School] 2007-08',
       'Male Students [Public School] 2007-08',
       'Female Students [Public School] 2007-08',
       'American Indian/Alaska Native Students [Public School] 2007-08',
       'Asian or Asian/Pacific Islander Students [Public School] 2007-08',
       'Hispanic Students [Public School] 2007-08',
       'Black or African American Students [Public School] 2007-08',
       'White Students [Public School] 2007-08',
       'Total Race/Ethnicity [Public School] 2007-08',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2007-08',
       'Pupil/Teacher Ratio [Public School] 2007-08'],
      dtype='object')

In [11]:
df1 = df1.rename( columns = {
        'School Name' : 'SCHOOL', 
        'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 2007-08' : 'COUNTY',
       'Charter School [Public School] 2007-08' : 'CHARTER',
       'Magnet School [Public School] 2007-08' : 'MAGNET',
       'Urban-centric Locale [Public School] 2007-08' : 'LOCALE',
       'School-wide Title I [Public School] 2007-08' : 'TITLE I',
       'Title I Eligible School [Public School] 2007-08' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 2007-08' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 2007-08' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 2007-08' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 2007-08' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 2007-08' : 'MALE STUDENTS',
       'Female Students [Public School] 2007-08' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 2007-08' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 2007-08' : 'ASIAN',
       'Hispanic Students [Public School] 2007-08' : 'HISPANIC',
       'Black or African American Students [Public School] 2007-08' : 'BLACK',
       'White Students [Public School] 2007-08' : 'WHITE',
       'Total Race/Ethnicity [Public School] 2007-08' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2007-08' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 2007-08' : 'PUPIL-TEACHER RATIO'
})

In [12]:
df2 = df2.rename( columns = {
       'School Name' : 'SCHOOL', 
        'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 2008-09' : 'COUNTY',
       'Charter School [Public School] 2008-09' : 'CHARTER',
       'Magnet School [Public School] 2008-09' : 'MAGNET',
       'Urban-centric Locale [Public School] 2008-09' : 'LOCALE',
       'School-wide Title I [Public School] 2008-09' : 'TITLE I',
       'Title I Eligible School [Public School] 2008-09' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 2008-09' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 2008-09' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 2008-09' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 2008-09' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 2008-09' : 'MALE STUDENTS',
       'Female Students [Public School] 2008-09' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 2008-09' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 2008-09' : 'ASIAN',
       'Hispanic Students [Public School] 2008-09' : 'HISPANIC',
       'Black or African American Students [Public School] 2008-09' : 'BLACK',
       'White Students [Public School] 2008-09' : 'WHITE',
       'Total Race/Ethnicity [Public School] 2008-09' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2008-09' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 2008-09' : 'PUPIL-TEACHER RATIO'
})

In [13]:
df2.columns

Index(['SCHOOL', 'STATE', 'ID', 'ABBR', 'COUNTY', 'CHARTER', 'MAGNET',
       'Shared Time School [Public School] 2008-09', 'LOCALE', 'TITLE I',
       'TITLE I ELIGIBLE', 'TOTAL STUDENTS', 'FREE LUNCH ELIGIBLE',
       'REDUCED PRICE LUNCH ELIGIBLE', 'FREE AND REDUCED LUNCH ELIGIBLE',
       'MALE STUDENTS', 'FEMALE STUDENTS', 'AMERICAN INDIAN', 'ASIAN',
       'HISPANIC', 'BLACK', 'WHITE',
       'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2008-09',
       'Two or More Races Students [Public School] 2008-09',
       'TOTAL RACE/ETHINICITY', 'FTE TEACHERS', 'PUPIL-TEACHER RATIO'],
      dtype='object')

In [14]:
df3 = df3.rename( columns = {
        'School Name' : 'SCHOOL', 
        'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 2009-10' : 'COUNTY',
       'Charter School [Public School] 2009-10' : 'CHARTER',
       'Magnet School [Public School] 2009-10' : 'MAGNET',
       'Urban-centric Locale [Public School] 2009-10' : 'LOCALE',
       'School-wide Title I [Public School] 2009-10' : 'TITLE I',
       'Title I Eligible School [Public School] 2009-10' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 2009-10' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 2009-10' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 2009-10' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 2009-10' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 2009-10' : 'MALE STUDENTS',
       'Female Students [Public School] 2009-10' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 2009-10' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 2009-10' : 'ASIAN',
       'Hispanic Students [Public School] 2009-10' : 'HISPANIC',
       'Black or African American Students [Public School] 2009-10' : 'BLACK',
       'White Students [Public School] 2009-10' : 'WHITE',
       'Total Race/Ethnicity [Public School] 2009-10' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2009-10' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 2009-10' : 'PUPIL-TEACHER RATIO'
})

In [15]:
df3.columns

Index(['SCHOOL', 'STATE', 'ID', 'ABBR', 'COUNTY', 'CHARTER', 'MAGNET',
       'Shared Time School [Public School] 2009-10', 'LOCALE', 'TITLE I',
       'TITLE I ELIGIBLE', 'TOTAL STUDENTS', 'FREE LUNCH ELIGIBLE',
       'REDUCED PRICE LUNCH ELIGIBLE', 'FREE AND REDUCED LUNCH ELIGIBLE',
       'MALE STUDENTS', 'FEMALE STUDENTS', 'AMERICAN INDIAN', 'ASIAN',
       'HISPANIC', 'BLACK', 'WHITE',
       'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2009-10',
       'Two or More Races Students [Public School] 2009-10',
       'TOTAL RACE/ETHINICITY', 'FTE TEACHERS', 'PUPIL-TEACHER RATIO'],
      dtype='object')

In [16]:
df3.shape

(99822, 27)

In [17]:
df4 = df4.rename( columns = {
        'School Name' : 'SCHOOL', 
        'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 2010-11' : 'COUNTY',
       'Charter School [Public School] 2010-11' : 'CHARTER',
       'Magnet School [Public School] 2010-11' : 'MAGNET',
       'Urban-centric Locale [Public School] 2010-11' : 'LOCALE',
       'School-wide Title I [Public School] 2010-11' : 'TITLE I',
       'Title I Eligible School [Public School] 2010-11' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 2010-11' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 2010-11' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 2010-11' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 2010-11' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 2010-11' : 'MALE STUDENTS',
       'Female Students [Public School] 2010-11' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 2010-11' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 2010-11' : 'ASIAN',
       'Hispanic Students [Public School] 2010-11' : 'HISPANIC',
       'Black or African American Students [Public School] 2010-11' : 'BLACK',
       'White Students [Public School] 2010-11' : 'WHITE',
       'Total Race/Ethnicity [Public School] 2010-11' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2010-11' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 2010-11' : 'PUPIL-TEACHER RATIO'
})

In [18]:
df1.columns

Index(['SCHOOL', 'STATE', 'ID', 'ABBR', 'COUNTY', 'CHARTER', 'MAGNET',
       'Shared Time School [Public School] 2007-08', 'LOCALE', 'TITLE I',
       'TITLE I ELIGIBLE', 'TOTAL STUDENTS', 'FREE LUNCH ELIGIBLE',
       'REDUCED PRICE LUNCH ELIGIBLE', 'FREE AND REDUCED LUNCH ELIGIBLE',
       'MALE STUDENTS', 'FEMALE STUDENTS', 'AMERICAN INDIAN', 'ASIAN',
       'HISPANIC', 'BLACK', 'WHITE', 'TOTAL RACE/ETHINICITY', 'FTE TEACHERS',
       'PUPIL-TEACHER RATIO'],
      dtype='object')

In [19]:
df2.columns

Index(['SCHOOL', 'STATE', 'ID', 'ABBR', 'COUNTY', 'CHARTER', 'MAGNET',
       'Shared Time School [Public School] 2008-09', 'LOCALE', 'TITLE I',
       'TITLE I ELIGIBLE', 'TOTAL STUDENTS', 'FREE LUNCH ELIGIBLE',
       'REDUCED PRICE LUNCH ELIGIBLE', 'FREE AND REDUCED LUNCH ELIGIBLE',
       'MALE STUDENTS', 'FEMALE STUDENTS', 'AMERICAN INDIAN', 'ASIAN',
       'HISPANIC', 'BLACK', 'WHITE',
       'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2008-09',
       'Two or More Races Students [Public School] 2008-09',
       'TOTAL RACE/ETHINICITY', 'FTE TEACHERS', 'PUPIL-TEACHER RATIO'],
      dtype='object')

In [20]:
df1.drop(columns = ['Shared Time School [Public School] 2007-08'], inplace = True)
df2.drop(columns = ['Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2008-09',
                  'Shared Time School [Public School] 2008-09',
                   'Two or More Races Students [Public School] 2008-09'], inplace = True)
df3.drop(columns = ['Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2009-10',
                  'Shared Time School [Public School] 2009-10',
                   'Two or More Races Students [Public School] 2009-10'], inplace = True)
df4.drop(columns = ['Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2010-11',
                  'Shared Time School [Public School] 2010-11',
                   'Two or More Races Students [Public School] 2010-11',
                   'Title I School Status [Public School] 2010-11'], inplace = True)

In [21]:
df3.columns

Index(['SCHOOL', 'STATE', 'ID', 'ABBR', 'COUNTY', 'CHARTER', 'MAGNET',
       'LOCALE', 'TITLE I', 'TITLE I ELIGIBLE', 'TOTAL STUDENTS',
       'FREE LUNCH ELIGIBLE', 'REDUCED PRICE LUNCH ELIGIBLE',
       'FREE AND REDUCED LUNCH ELIGIBLE', 'MALE STUDENTS', 'FEMALE STUDENTS',
       'AMERICAN INDIAN', 'ASIAN', 'HISPANIC', 'BLACK', 'WHITE',
       'TOTAL RACE/ETHINICITY', 'FTE TEACHERS', 'PUPIL-TEACHER RATIO'],
      dtype='object')

In [22]:
df4.columns

Index(['SCHOOL', 'STATE', 'ID', 'ABBR', 'COUNTY', 'CHARTER', 'MAGNET',
       'LOCALE', 'TITLE I', 'TITLE I ELIGIBLE', 'TOTAL STUDENTS',
       'FREE LUNCH ELIGIBLE', 'REDUCED PRICE LUNCH ELIGIBLE',
       'FREE AND REDUCED LUNCH ELIGIBLE', 'MALE STUDENTS', 'FEMALE STUDENTS',
       'AMERICAN INDIAN', 'ASIAN', 'HISPANIC', 'BLACK', 'WHITE',
       'TOTAL RACE/ETHINICITY', 'FTE TEACHERS', 'PUPIL-TEACHER RATIO'],
      dtype='object')

In [23]:
pd.options.display.max_columns = None
df4.head()

,SCHOOL,STATE,ID,ABBR,COUNTY,CHARTER,MAGNET,LOCALE,TITLE I,TITLE I ELIGIBLE,TOTAL STUDENTS,FREE LUNCH ELIGIBLE,REDUCED PRICE LUNCH ELIGIBLE,FREE AND REDUCED LUNCH ELIGIBLE,MALE STUDENTS,FEMALE STUDENTS,AMERICAN INDIAN,ASIAN,HISPANIC,BLACK,WHITE,TOTAL RACE/ETHINICITY,FTE TEACHERS,PUPIL-TEACHER RATIO
0,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,2.507320e+11,MA,MIDDLESEX COUNTY,2-No,–,21-Suburb: Large,2-No,1-Yes,1407,487,126,613,717,690,0,44,439,40,858,1407,108.26,13
1,100 LEGACY ACADEMY CHARTER SCHOOL,New Jersey,3.400740e+11,NJ,–,1-Yes,–,–,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†
2,10TH STREET SCHOOL,Washington,5.304860e+11,WA,SNOHOMISH COUNTY,†,†,22-Suburb: Mid-size,†,2-No,168,18,10,28,82,86,1,3,17,1,127,168,7.2,23.33
3,112 ALC INDEPENDENT STUDY,Minnesota,2.708190e+11,MN,CARVER COUNTY,2-No,2-No,21-Suburb: Large,†,2-No,11,0,0,0,8,3,0,0,3,0,8,11,0.20,55
4,12TH STREET ELEMENTARY,Michigan,2.628950e+11,MI,KALAMAZOO COUNTY,2-No,1-Yes,13-City: Small,†,2-No,560,128,20,148,289,271,0,53,24,42,405,560,29.77,18.81

In [24]:
df = pd.concat([df1, df2, df3, df4], ignore_index = True)

In [25]:
df.shape

(398928, 24)

In [26]:
df.head()

,SCHOOL,STATE,ID,ABBR,COUNTY,CHARTER,MAGNET,LOCALE,TITLE I,TITLE I ELIGIBLE,TOTAL STUDENTS,FREE LUNCH ELIGIBLE,REDUCED PRICE LUNCH ELIGIBLE,FREE AND REDUCED LUNCH ELIGIBLE,MALE STUDENTS,FEMALE STUDENTS,AMERICAN INDIAN,ASIAN,HISPANIC,BLACK,WHITE,TOTAL RACE/ETHINICITY,FTE TEACHERS,PUPIL-TEACHER RATIO
0,100 R ELEMENTARY SCHOOL,Nebraska,3.171100e+11,NE,Dawson,†,†,41-Rural: Fringe,†,2-No,7,0,0,0,7,0,0,0,0,0,7,7,2,3.5
1,10TH STREET SCHOOL,Washington,5.304860e+11,WA,Snohomish,†,†,22-Suburb: Mid-size,†,2-No,165,8,4,12,76,89,2,8,9,0,146,165,6,27.5
2,12TH STREET ELEMENTARY,Michigan,2.628950e+11,MI,Kalamazoo,2-No,–,22-Suburb: Mid-size,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†
3,19-21 TRANSITION ACADEMY,Washington,5.304230e+11,WA,King,†,†,21-Suburb: Large,†,2-No,18,0,0,0,12,6,0,0,1,0,17,18,–,–
4,19-E-N-7,Florida,1.201440e+11,FL,Orange,2-No,–,12-City: Mid-size,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†

In [27]:
#df.to_csv('modeling-07-11.csv')