In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('2001-02.csv')

In [3]:
df1.shape

(94119, 24)

In [4]:
df2 = pd.read_csv('2002-03.csv')

In [5]:
df2.shape

(95622, 24)

In [6]:
df3 = pd.read_csv('2003-04.csv')

In [7]:
df3.shape

(95733, 24)

In [8]:
df1.columns

Index(['School Name', 'State Name [Public School] Latest available year',
       'School ID - NCES Assigned [Public School] Latest available year',
       'State Abbr [Public School] Latest available year',
       'County Name [Public School] 2001-02',
       'Charter School [Public School] 2001-02',
       'Magnet School [Public School] 2001-02',
       'Locale [Public School] 2001-02',
       'School-wide Title I [Public School] 2001-02',
       'Title I Eligible School [Public School] 2001-02',
       'Total Students All Grades (Excludes AE) [Public School] 2001-02',
       'Free Lunch Eligible [Public School] 2001-02',
       'Reduced-price Lunch Eligible Students [Public School] 2001-02',
       'Free and Reduced Lunch Students [Public School] 2001-02',
       'Male Students [Public School] 2001-02',
       'Female Students [Public School] 2001-02',
       'American Indian/Alaska Native Students [Public School] 2001-02',
       'Asian or Asian/Pacific Islander Students [Public School] 2001-02',
       'Hispanic Students [Public School] 2001-02',
       'Black or African American Students [Public School] 2001-02',
       'White Students [Public School] 2001-02',
       'Total Race/Ethnicity [Public School] 2001-02',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2001-02',
       'Pupil/Teacher Ratio [Public School] 2001-02'],
      dtype='object')

In [9]:
df1 = df1.rename( columns = {
        'School Name' : 'SCHOOL', 
        'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 2001-02' : 'COUNTY',
       'Charter School [Public School] 2001-02' : 'CHARTER',
       'Magnet School [Public School] 2001-02' : 'MAGNET',
       'Locale [Public School] 2001-02' : 'LOCALE',
       'School-wide Title I [Public School] 2001-02' : 'TITLE I',
       'Title I Eligible School [Public School] 2001-02' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 2001-02' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 2001-02' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 2001-02' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 2001-02' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 2001-02' : 'MALE STUDENTS',
       'Female Students [Public School] 2001-02' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 2001-02' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 2001-02' : 'ASIAN',
       'Hispanic Students [Public School] 2001-02' : 'HISPANIC',
       'Black or African American Students [Public School] 2001-02' : 'BLACK',
       'White Students [Public School] 2001-02' : 'WHITE',
       'Total Race/Ethnicity [Public School] 2001-02' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2001-02' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 2001-02' : 'PUPIL-TEACHER RATIO'
})

In [10]:
df1.columns

Index(['SCHOOL', 'STATE', 'ID', 'ABBR', 'COUNTY', 'CHARTER', 'MAGNET',
       'LOCALE', 'TITLE I', 'TITLE I ELIGIBLE', 'TOTAL STUDENTS',
       'FREE LUNCH ELIGIBLE', 'REDUCED PRICE LUNCH ELIGIBLE',
       'FREE AND REDUCED LUNCH ELIGIBLE', 'MALE STUDENTS', 'FEMALE STUDENTS',
       'AMERICAN INDIAN', 'ASIAN', 'HISPANIC', 'BLACK', 'WHITE',
       'TOTAL RACE/ETHINICITY', 'FTE TEACHERS', 'PUPIL-TEACHER RATIO'],
      dtype='object')

In [11]:
df2 = df2.rename( columns = {
        'School Name' : 'SCHOOL', 
        'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 2002-03' : 'COUNTY',
       'Charter School [Public School] 2002-03' : 'CHARTER',
       'Magnet School [Public School] 2002-03' : 'MAGNET',
       'Locale [Public School] 2002-03' : 'LOCALE',
       'School-wide Title I [Public School] 2002-03' : 'TITLE I',
       'Title I Eligible School [Public School] 2002-03' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 2002-03' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 2002-03' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 2002-03' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 2002-03' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 2002-03' : 'MALE STUDENTS',
       'Female Students [Public School] 2002-03' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 2002-03' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 2002-03' : 'ASIAN',
       'Hispanic Students [Public School] 2002-03' : 'HISPANIC',
       'Black or African American Students [Public School] 2002-03' : 'BLACK',
       'White Students [Public School] 2002-03' : 'WHITE',
       'Total Race/Ethnicity [Public School] 2002-03' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2002-03' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 2002-03' : 'PUPIL-TEACHER RATIO'
})

In [12]:
df2.columns

Index(['SCHOOL', 'STATE', 'ID', 'ABBR', 'COUNTY', 'CHARTER', 'MAGNET',
       'LOCALE', 'TITLE I', 'TITLE I ELIGIBLE', 'TOTAL STUDENTS',
       'FREE LUNCH ELIGIBLE', 'REDUCED PRICE LUNCH ELIGIBLE',
       'FREE AND REDUCED LUNCH ELIGIBLE', 'MALE STUDENTS', 'FEMALE STUDENTS',
       'AMERICAN INDIAN', 'ASIAN', 'HISPANIC', 'BLACK', 'WHITE',
       'TOTAL RACE/ETHINICITY', 'FTE TEACHERS', 'PUPIL-TEACHER RATIO'],
      dtype='object')

In [13]:
df3 = df3.rename( columns = {
        'School Name' : 'SCHOOL', 
        'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 2003-04' : 'COUNTY',
       'Charter School [Public School] 2003-04' : 'CHARTER',
       'Magnet School [Public School] 2003-04' : 'MAGNET',
       'Locale [Public School] 2003-04' : 'LOCALE',
       'School-wide Title I [Public School] 2003-04' : 'TITLE I',
       'Title I Eligible School [Public School] 2003-04' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 2003-04' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 2003-04' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 2003-04' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 2003-04' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 2003-04' : 'MALE STUDENTS',
       'Female Students [Public School] 2003-04' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 2003-04' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 2003-04' : 'ASIAN',
       'Hispanic Students [Public School] 2003-04' : 'HISPANIC',
       'Black or African American Students [Public School] 2003-04' : 'BLACK',
       'White Students [Public School] 2003-04' : 'WHITE',
       'Total Race/Ethnicity [Public School] 2003-04' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2003-04' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 2003-04' : 'PUPIL-TEACHER RATIO'
})

In [14]:
df = pd.concat([df1, df2, df3], ignore_index = True)

In [15]:
df.shape

(285474, 24)

In [16]:
df.columns

Index(['SCHOOL', 'STATE', 'ID', 'ABBR', 'COUNTY', 'CHARTER', 'MAGNET',
       'LOCALE', 'TITLE I', 'TITLE I ELIGIBLE', 'TOTAL STUDENTS',
       'FREE LUNCH ELIGIBLE', 'REDUCED PRICE LUNCH ELIGIBLE',
       'FREE AND REDUCED LUNCH ELIGIBLE', 'MALE STUDENTS', 'FEMALE STUDENTS',
       'AMERICAN INDIAN', 'ASIAN', 'HISPANIC', 'BLACK', 'WHITE',
       'TOTAL RACE/ETHINICITY', 'FTE TEACHERS', 'PUPIL-TEACHER RATIO'],
      dtype='object')

In [17]:
##df.to_csv('model-selection-01-05.csv')