In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df = pd.read_csv('feature-selection-91-96.csv', index_col = 0)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 310299 entries, 1 to 429869
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   SCHOOL               310299 non-null  object
 1   STATE                310299 non-null  object
 2   ABBR                 310299 non-null  object
 3   ID                   310299 non-null  float64
 4   COUNTY               310299 non-null  object
 5   LOCALE               310299 non-null  object
 6   TOTAL STUDENTS       310299 non-null  int64
 7   FREE LUNCH ELIGIBLE  310299 non-null  int64
 8   AMERICAN INDIAN      310299 non-null  object
 9   ASIAN                310299 non-null  object
 10  HISPANIC             310299 non-null  object
 11  BLACK                310299 non-null  object
 12  WHITE                310299 non-null  object
 13  FTE TEACHERS         310299 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 35.5+ MB

In [6]:
df.columns

Index(['SCHOOL', 'STATE', 'ABBR', 'ID', 'COUNTY', 'LOCALE', 'TOTAL STUDENTS',
       'FREE LUNCH ELIGIBLE', 'AMERICAN INDIAN', 'ASIAN', 'HISPANIC', 'BLACK',
       'WHITE', 'FTE TEACHERS'],
      dtype='object')

In [7]:
df['FREE LUNCH ELIGIBLE NUMERIC'] = df['FREE LUNCH ELIGIBLE'].apply( lambda x : int(x) if str(x).isdigit() else None)

In [8]:
df.shape

(310299, 15)

In [10]:
df.drop(df[df['FREE LUNCH ELIGIBLE NUMERIC'].isnull() == True].index, inplace = True)

In [11]:
df.shape

(310299, 15)

In [12]:
def replace_nan_zero(x):
    if str(x).isdigit():
        return x
    else:
        return 0

In [15]:
df['AMERICAN INDIAN'] = df['AMERICAN INDIAN'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['ASIAN'] = df['ASIAN'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['HISPANIC'] = df['HISPANIC'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['BLACK'] = df['BLACK'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['WHITE'] = df['WHITE'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
##df['TOTAL RACE/ETHINICITY'] = df['TOTAL RACE/ETHINICITY'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['FTE TEACHERS'] = df['FTE TEACHERS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
#df['MALE STUDENTS'] = df['MALE STUDENTS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
#df['FEMALE STUDENTS'] = df['FEMALE STUDENTS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['TOTAL STUDENTS'] = df['TOTAL STUDENTS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
#df['TOTAL STUDENTS'] = df['TOTAL STUDENTS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 310299 entries, 1 to 429869
Data columns (total 15 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   SCHOOL                       310299 non-null  object
 1   STATE                        310299 non-null  object
 2   ABBR                         310299 non-null  object
 3   ID                           310299 non-null  float64
 4   COUNTY                       310299 non-null  object
 5   LOCALE                       310299 non-null  object
 6   TOTAL STUDENTS               310299 non-null  int64
 7   FREE LUNCH ELIGIBLE          310299 non-null  int64
 8   AMERICAN INDIAN              310299 non-null  int64
 9   ASIAN                        310299 non-null  int64
 10  HISPANIC                     310299 non-null  int64
 11  BLACK                        310299 non-null  int64
 12  WHITE                        310299 non-null  int64
 13  FTE TEACHERS                 310299 non-null  int64
 14  FREE LUNCH ELIGIBLE NUMERIC  310299 non-null  int64
dtypes: float64(1), int64(9), object(5)
memory usage: 45.9+ MB

In [17]:
df.drop(columns = ['FREE LUNCH ELIGIBLE NUMERIC'], inplace = True)

In [18]:
df.shape

(310299, 14)

In [19]:
#df.to_csv('feature-selection-clean.csv')