In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('model-selection-15-19.csv', index_col = 0)

/Users/bigyanbhandari/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (22) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 399402 entries, 0 to 399401
Data columns (total 24 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   SCHOOL                           399390 non-null  object
 1   STATE                            399374 non-null  object
 2   ID                               399374 non-null  float64
 3   ABBR                             399374 non-null  object
 4   COUNTY                           399374 non-null  object
 5   CHARTER                          399374 non-null  object
 6   MAGNET                           399374 non-null  object
 7   LOCALE                           399374 non-null  object
 8   TITLE I                          399374 non-null  object
 9   TITLE I ELIGIBLE                 399374 non-null  object
 10  TOTAL STUDENTS                   399374 non-null  object
 11  FREE LUNCH ELIGIBLE              399374 non-null  object
 12  REDUCED PRICE LUNCH ELIGIBLE     399374 non-null  object
 13  FREE AND REDUCED LUNCH ELIGIBLE  399374 non-null  object
 14  MALE STUDENTS                    399374 non-null  object
 15  FEMALE STUDENTS                  399374 non-null  object
 16  AMERICAN INDIAN                  399374 non-null  object
 17  ASIAN                            399374 non-null  object
 18  HISPANIC                         399374 non-null  object
 19  BLACK                            399374 non-null  object
 20  WHITE                            399374 non-null  object
 21  TOTAL RACE/ETHINICITY            399374 non-null  object
 22  FTE TEACHERS                     399374 non-null  object
 23  PUPIL-TEACHER RATIO              399374 non-null  object
dtypes: float64(1), object(23)
memory usage: 76.2+ MB

In [4]:
invalid_title_i = df[~df['TITLE I ELIGIBLE'].isin(['1-Yes', '2-No']) == True].index

In [5]:
df.drop(invalid_title_i, inplace = True)
df.reset_index = True
df.shape

(381210, 24)

In [6]:
df['FREE LUNCH ELIGIBLE'].isna().sum()

0

In [7]:
df['FREE LUNCH ELIGIBLE NUMERIC'] = df['FREE LUNCH ELIGIBLE'].apply( lambda x : int(x) if str(x).isdigit() else None)

In [8]:
df.drop(df[df['FREE LUNCH ELIGIBLE NUMERIC'].isna() == True].index, inplace = True)

In [9]:
df.shape

(343946, 25)

In [10]:
df['REDUCED PRICE LUNCH ELIGIBLE NUMERIC'] = df['REDUCED PRICE LUNCH ELIGIBLE'].apply( lambda x : int(x) if str(x).isdigit() else None)

In [11]:
df['REDUCED PRICE LUNCH ELIGIBLE NUMERIC'].isna().sum()

5692

In [12]:
df.drop(df[df['REDUCED PRICE LUNCH ELIGIBLE NUMERIC'].isna() == True].index, inplace = True)

In [13]:
df['FREE AND REDUCED LUNCH ELIGIBLE'].isna().sum()

0

In [14]:
df.shape

(338254, 26)

In [15]:
def replace_nan_zero(x):
    if str(x).isdigit():
        return x
    else:
        return 0

In [16]:
df['AMERICAN INDIAN'] = df['AMERICAN INDIAN'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['ASIAN'] = df['ASIAN'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['HISPANIC'] = df['HISPANIC'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['BLACK'] = df['BLACK'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['WHITE'] = df['WHITE'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['TOTAL RACE/ETHINICITY'] = df['TOTAL RACE/ETHINICITY'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['FTE TEACHERS'] = df['FTE TEACHERS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['MALE STUDENTS'] = df['MALE STUDENTS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['FEMALE STUDENTS'] = df['FEMALE STUDENTS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['PUPIL-TEACHER RATIO'] = df['PUPIL-TEACHER RATIO'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['TOTAL STUDENTS'] = df['TOTAL STUDENTS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['FREE LUNCH ELIGIBLE'] = df['FREE LUNCH ELIGIBLE'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['TOTAL STUDENTS'] = df['TOTAL STUDENTS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['REDUCED PRICE LUNCH ELIGIBLE'] = df['REDUCED PRICE LUNCH ELIGIBLE'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['FREE AND REDUCED LUNCH ELIGIBLE'] = df['FREE AND REDUCED LUNCH ELIGIBLE'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 338254 entries, 1 to 399394
Data columns (total 26 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   SCHOOL                                338254 non-null  object
 1   STATE                                 338254 non-null  object
 2   ID                                    338254 non-null  float64
 3   ABBR                                  338254 non-null  object
 4   COUNTY                                338254 non-null  object
 5   CHARTER                               338254 non-null  object
 6   MAGNET                                338254 non-null  object
 7   LOCALE                                338254 non-null  object
 8   TITLE I                               338254 non-null  object
 9   TITLE I ELIGIBLE                      338254 non-null  object
 10  TOTAL STUDENTS                        338254 non-null  int64
 11  FREE LUNCH ELIGIBLE                   338254 non-null  int64
 12  REDUCED PRICE LUNCH ELIGIBLE          338254 non-null  int64
 13  FREE AND REDUCED LUNCH ELIGIBLE       338254 non-null  int64
 14  MALE STUDENTS                         338254 non-null  int64
 15  FEMALE STUDENTS                       338254 non-null  int64
 16  AMERICAN INDIAN                       338254 non-null  int64
 17  ASIAN                                 338254 non-null  int64
 18  HISPANIC                              338254 non-null  int64
 19  BLACK                                 338254 non-null  int64
 20  WHITE                                 338254 non-null  int64
 21  TOTAL RACE/ETHINICITY                 338254 non-null  int64
 22  FTE TEACHERS                          338254 non-null  int64
 23  PUPIL-TEACHER RATIO                   338254 non-null  int64
 24  FREE LUNCH ELIGIBLE NUMERIC           338254 non-null  float64
 25  REDUCED PRICE LUNCH ELIGIBLE NUMERIC  338254 non-null  float64
dtypes: float64(3), int64(14), object(9)
memory usage: 69.7+ MB

In [19]:
###df.to_csv('model-selection-clean.csv')