In [2]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier


from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [5]:
X = pd.read_csv('data_for_model_selection.csv', index_col = 0)

In [6]:
X.head()

   ABBR  LOCALE  TOTAL STUDENTS     ASIAN  HISPANIC     BLACK     WHITE
0    46       4       -0.820101 -0.280551 -0.521809 -0.520741 -0.490510
1    22       3       -1.122707 -0.327979 -0.561820 -0.527422 -0.854489
2    22       3       -0.910662 -0.280551 -0.473797 -0.473977 -0.636101
3    21       2        0.114222  0.466429 -0.493802 -0.206750  0.543192
4    28       9       -0.820101 -0.339835 -0.553817 -0.507380 -0.370396